<header>
  <h2>Click on the following characters in the image below!</h2>
  <div class="characters">
    <% @puzzle.characters.each do |character| %>
      <div class="character-wrapper">
        <%= image_tag character.name, id: character.name, class: "character"%>
        <caption><%= character.name %></caption>
      </div>
    <% end %>
  </div>
  <h1 id="timer">0:00</h1>
</header>
<main>
  <div class="image-wrapper">
    <%= image_tag @puzzle.image.name, id: "image" %>
  </div>
  <div class="nav">
    <%= link_to 'Back to home', root_path %>
    <%= link_to 'View Scores', puzzle_scores_path(@puzzle)%>
  </div>
</main>
<div id="win-popup">
  <form>
    <h1 id="win-message">You found them!</h1>

    <input type="text" name="name" id="name" placeholder="Enter your name">

    <button type="submit" class="btn" onclick="submitScore()">Submit High Score</button>
    <%= link_to 'Back to Home', root_path %>
  </form>
</div>
<%= javascript_include_tag 'timer'%>
<%= javascript_include_tag 'waldo'%>
